.TablePlansRow {
  grid-template-columns: 5.5rem 5rem 1fr 1fr 1fr 8rem;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .TablePlansRow {
    grid-template-columns: 11.5rem 8.5rem 1fr 1fr 1fr 10rem;
    gap: 3rem;
  }
}
