@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background: white;
}

input:focus {
  border: none;
  outline: none;
}

.test {
  border: solid 1px red !important;
}

button {
  cursor: pointer !important;
  outline: none;
}
