.TableRowLastInvoices {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 3rem;
}

.TableRowLastInvoices:hover .TableRowLastInvoices__IconFolder {
  fill: white;
  background: #15be62;
}

.TableHeaderLastInvoices {
  display: none;
}

@media (min-width: 768px) {
  .TableRowLastInvoicesData {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr 3fr 2fr;
    gap: 1rem;
  }

  .TableHeaderLastInvoices {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr 3fr 2fr 2rem;
    gap: 1rem;
  }
}
