.TableRowProcessHistory {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 3rem;
}

.TableRowProcessHistory:hover .TableRowProcessHistory__IconFolder {
  fill: white;
  background: #15be62;
}

.TableHeaderProcessHistory {
  display: none;
}

@media (min-width: 768px) {
  .TableRowProcessHistoryData {
    display: grid;
    grid-template-columns: 2fr 3fr 4fr 1fr 1fr;
    gap: 1rem;
  }

  .TableHeaderProcessHistory {
    display: grid;
    grid-template-columns: 2fr 3fr 4fr 1fr 1fr 2rem;
    gap: 1rem;
  }
}
