.Toast__SlideIn {
  animation: slideIn 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.Toast__SlideOut {
  animation: slideOut 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
